$background: #0f0f92;
$fuente: rgb(255, 255, 255);
$tipografia: "kanit", sans-serif;
$gradiente:  linear-gradient(to left bottom, #0f0f92, #0f1287, #11147c, #121571, #141666, #14166a, #14176e, #141772, #121785, #101799, #0f15ad, #1111c1);