/* P R O D U C T O S */

@media (max-width: 753px) {
    .mainProductos {
      background-image: $gradiente;
    }
    .gridProd {
  display: flex;
  flex-direction: column;
  margin: 20px 150px 20px 150px;

    }
    .bRugby, .bHockey, .bOutfit, .bFFAA{
      width: 350px;
    }
  }